
body, html {
    background-color: thistle;
    text-align: justify;
    max-height: 100%;
    width: 100%;
}

.main-page {
    height: 100%;
    width: 100%;
    background-color: lemonchiffon;
}

.aboutme {
    background-color: lightgoldenrodyellow;
    border: 2px solid #aa9acc;
    border-radius: 5px;
    border-top: solid 2px #aa9acc;
    box-sizing: content-box;
    clear: right;
    color: #fff;
    display: block;
    font-weight: normal;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 960px;
 }


.nav-bar {
    background-color: #fff;
    border-bottom: 3px solid #6666;
    float: right;
  line-height: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   width: 100%;
}


.resume-section-content {
    padding-left: 10px;
    margin-left: 45;
    display: inline-flex;
    background-color: mistyrose;
}

.main-section {

    background-color: lightsteelblue;
}

.section {
    background-color: wheat;
}

#my-image {
    z-index: 1;
    position: relative;
}
